@model MemoViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Memo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="Images/writing-note.svg" width="200"/>
</div>
<hr>
@* <div>
    <div class="col-xl-6 col-lg-8 col-sm-10">
        <table class="table memo-table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Id</th>
                    <th scope="col">Memo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.MemoList)
                {
                    <tr>
                        <td class="todos-column" scope="row">@m.Id</td>
                        <td class="todos-column">@m.Name</td>
                        <td class="buttons-column">
                            <input type="submit" class="btn-delete" value="Delete" onClick="deleteMemo(@m.Id)" />
                            <input type="submit" class="btn-update" value="Update" onClick="populateForm(@m.Id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> *@
