@model MemoViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Memo</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Memo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model.MemoList)
                {
                    <tr>
                        <td class="todos-column" scope="row">@m.Id</td>
                        <td class="todos-column">@m.Name</td>
                        <td class="buttons-column">
                            <input type="submit" value="Delete" onClick="deleteMemo(@m.Id)" />
                            <input type="submit" value="Update" onClick="populateForm(@m.Id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
