html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Kannada MN;
  font-weight: 600;
}

/* .background {
  position: relative;
  z-index: 1;
  height: 100vh;
} */
  .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://preview.pixlr.com/images/800wm/1176/2/1176106312.jpg");
    background-attachment:fixed;
    opacity: .1;
  }

  .display-4 {
  font-weight: 600;
}

.memo-container {
  position: relative;
}

.memo-table {
  width: 65%;
}

.memo-form {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.memo-box {
  width: 90%;
}

.buttons-column {
  text-align: end;
}

.todo-column {
  vertical-align: middle;
}

.table-primary {
  --bs-table-bg: #eaffe9;
}

.btn-delete, .btn-update, .btn-success {
  border-radius: 3px;
  color: white;
}

.btn-delete {
  background-color: #ee6801;
  border-color: #ee6801;
}

.btn-update {
  background-color: #009624;
  border-color: #009624;
}

.btn-success {
  background-color: #0e7022;
  border-color: #0e7022;
}

.btn-success:hover {
  background-color: #00a3b1;
  border-color: #00a3b1;
}

hr:not([size]) {
  height: 1vh;
}

header {
  margin-top: 10vh;
}

.form-control {
  border: 1vh solid rgba(0, 0, 0, 0.2);
}